<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment Collector</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
            <header>
                <h1><span>Option Menu</span></h1>
            </header>
            <br>
            <form method=post action="/query" enctype=multipart/form-data>
                <label>Enter your Collection Name</label>
                <input type=text name=collectionN required>
                <input type=submit name=googleSignIN value="Query Comments">

            </form>

    </div>
</body>
</html>